* {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

.bord{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonstyle {
    background-color: rgb(54, 137, 231);
    border: none;
    border-radius: 30px;
    width: 50px;
    margin-right: 5px;
}